<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SpideyBC/src/sw10/spideybc/program/Program.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sw10.spideybc.program.Program"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${project_path}${build_files} -jvm_model ${own_project_path}/data/libcsp.json -application ${workspace_loc}/libcsp.jar -jar_includes_std_libraries true -source_files_root_dir &quot;${libcsp}&quot; -output_dir ${workspace_loc}/output -main_class system/SCJApplication -entry_points sw901e12.csp.handlers.RouteHandler.handleAsyncEvent()V,sw901e12.csp.handlers.ISRHandler.handleAsyncEvent()V"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SpideyBC"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms40m -Xmx512m"/>
</launchConfiguration>
