<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SpideyBC/src/sw10/spideybc/program/Program.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sw10.spideybc.program.Program"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${build_files}-jvm_model ${own_project_path}/data/reprap.json -application ${workspace_loc}/reprap.jar -jar_includes_std_libraries true -source_files_root_dir &quot;${rep_rap}&quot; -output_dir ${workspace_loc}/output -main_class org/reprap/Main -entry_points org.reprap.CommandParser.handleAsyncEvent()V,org.reprap.CommandController.handleAsyncEvent()V,org.reprap.HostController.handleAsyncEvent()V,org.reprap.RepRapController.handleAsyncEvent()V;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SpideyBC"/>
</launchConfiguration>
