<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SpideyBC/src/sw10/spideybc/program/Program.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sw10.spideybc.program.Program"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${own_project_path}${build_files} -jvm_model ${own_project_path}/data/model.json -application ${workspace_loc}/Application.jar -jar_includes_std_libraries false -source_files_root_dir &quot;${sw10_home}/Code/Wala Exploration/src&quot; -output_dir ${workspace_loc}/output -main_class SimpleApplication -entry_points SimpleApplication.main([Ljava/lang/String;)V,SimpleApplication.forLoop()V,SimpleApplication.whileLoop()V,SimpleApplication.doWhile()V,"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SpideyBC"/>
</launchConfiguration>
